
img {
    max-width: auto;
    max-height: 100%;
    padding: 0% 1% 0% 0%
}

.header {
  position: relative;
  padding: 0.0%;
  text-align: left;
  background: -webkit-linear-gradient(left, #67000d, #bdbdbd);
  color: white;
  font-size: 2.25vh;
  margin: 0px;
  height: 15vh;
}

div.headertext {
  display: table-cell;
}
