.header {
  position: relative;
  padding: 0.0%;
  text-align: left;
  background: -webkit-linear-gradient(left, #67000d, #bdbdbd);
  color: white;
  font-size: 2.25vh;
  margin: 0px;
  height: 10vw;
}

.header img {
    max-height: 100%;
    background-size: 100% 100%;
}


.buttons {
  height: 2vw;
}
