.header {
  position: relative;
  padding: 5px;
  text-align: left;
  background: -webkit-linear-gradient(left, #bdbdbd, #a50f15);
  color: white;
  font-size: 20px;
  margin: 0px;
  height: 180px;
}
